:root {
  --roxo: #820ad1;
  --branco: #f4f4f4;
  --cinza: #a0a0a0;
  --button-color: rgba(160, 160, 160, 0.4)
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif 
}